<style>
  #sample-map {

    width: 100%;
    height: 100%;
  }
</style>
<h1>Page showing map</h1>
<div id='sample-map'></div>
<script>
  const $sampleMap = document.getElementById('sample-map');
  const list = [
    {{#each data}}
        {
          position: {
            lat: {{ lat }},
            lng: {{ lng }}
          }
        },
    {{/each}}
  ];
  function initMap() {
    const map = new window.google.maps.Map($sampleMap, {
      center: { lat: 38, lng: -9},
      zoom : 9
    });
    map.addListener('click', event => {
      const latitude = event.latLng.lat();
      const longitude = event.latLng.lng();
      //const $inputLatitude = document.getElementById('input-latitude');
      //const $inputLongitude = document.getElementById('input-longitude');
      $inputLatitude.value = latitude;
      $inputLongitude.value = longitude;
    })
    for (place of list) {
      const marker = new window.google.maps.Marker({
        position: place.position,
        map
      });
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrJ1f_9MB0iFA2zFsHIbIK8sGWU91aQr8&callback=initMap"></script>
