<h1>User Profile</h1>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>



<p>Description</p>
<a href="">Settings</a>
<a href="">Map</a>
<a href="user/friends">Friends</a>