

<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">{{title}}</h1>
        <p class="lead mb-0">Your travel application </p>
      </div>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p class="textIndex">Friend's trip is the best personal assistant for travellling. Here you can
          discover the most amazing places, share your favorite spots with your friends,
          and easily translate other languages.
        </p>
      </div>
    </div>
  </div>
</section>