<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav id="nav-bar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a id="friendtrip" class="navbar-brand" href="/">Friend's Trip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {{#if user}}
      <form action="/authentication/sign-out" method="POST">
        <a id="navhome" class="btn btn-outline-secondary btn-sm" href="/logged">Feed <span class="sr-only">(current)</span></a>
        <a id="navcreate" class="btn btn-outline-secondary btn-sm" href="/logged/post/create">Create</a>
        <a id="navutilities" class="btn btn-outline-secondary btn-sm" href="/logged/utilities/translation">Translate</a>
        <a id="navprofile" class="btn btn-outline-secondary btn-sm" href="/logged/social/profile">{{ user.name }}'s Profile</a>
        <button id="navsignout" class="btn btn-outline-secondary btn-sm" type="submit">Sign Out</button>
      </form>
      {{else}}
      <a id="signIn" class="nav-item nav-link" href="/authentication/sign-in">Sign In</a>
      <a id="signUp" class="nav-item nav-link" href="/authentication/sign-up">Sign Up</a>
      {{/if}}
    </div>
  </div>
</nav>

<div class="body">

    {{{body}}}
    <script src="/scripts/script.js"></script>
</div>
  </body>
</html>


