<form method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="input-description"></label>
    <input  type="text-area" class="form-control"  id="input-description" placeholder="Chandge your description" value={{ user.description }}>

    <div class="upload-btn-wrapper">
      <p>Change your profile foto:</p>
  <button class="btn btn-outline-secondary">Upload a file</button>
  <input type="file" name="photo" value={{ user.profilePic }}/>
</div>
  <div>
    <input class="btn btn-outline-secondary" type="submit" value="Upload" id="upload-button">
  </div>
  </div>
</form>

