<h1>Edit info user</h1>

<form action="" method="POST" enctype="multipart/form-data">
  <label for="input-description">Discription</label>
  <input type="text-area" id="input-description" name="description" value={{ user.description }}/>
  <input type="file" name="photo" value={{ user.profilePic }}>
  <input type="submit" value="save">
</form>