
<h1>Page create post</h1>
<form action="" method="POST" enctype="multipart/form-data">
    <label for="input-title">Title</label>
    <input type="text" id="input-title" name="title" placeholder="Choose a Title for your post" />
    <label for="input-description">Discription</label>
    <input type="text-area" id="input-description" name="description" placeholder="Choose the discription of your post" />
  <select name="type" id="input-type">
    <option value="Restaurant">Restaurant</option>
    <option value="Bar">Bar</option>
    <option value="Hotel">Hotel</option>
    <option value="Museum">Museum</option>
  </select>
  <select name="priceRange" id="input-price">
    <option value="Cheap">Cheap</option>
    <option value="Medium">Medium</option>
    <option value="Expensive">Expensive</option>
  </select>
  <input type="number" step=0.0000001 name="lat" id="lat">
  <input type="number" step=0.0000001 name="lng" id="lng">
  <input type="file" name="photo">
  <input type="submit" value="Upload" id="upload-button">
</form>
  
  
  <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
  
  
  
  
  
  
  <script>
    const $lat = document.getElementById("lat")
    const $lng = document.getElementById("lng")

    const localUser = () =>{
      return new Promise ((resolve,reject) =>{
         const sucessHandler = position => {
          const data = {
            lat: position.coords.latitude, 
            lng: position.coords.longitude,
          };
          resolve(data);
        };
        const errorHandler = error => {
          reject(error);
        };
        navigator.geolocation.getCurrentPosition(sucessHandler, errorHandler);
      });
    }

    localUser()
      .then(value => {
        console.log("im running")
        $lat.value = value.lat
        $lng.value = value.lng  
      })
      .catch(error => {
        console.log(error);
      });
   
  </script>
