<h1>Page for translation</h1>

<h1>Texto to Speech</h1>
<form action="" method="POST">
    <textarea id="speech-text" name="text" cols="30" rows="10"></textarea>
    <input id="translate" type="button" value="Translate"/>
</form>

<!-- Search Form -->
<select id="lang" name="language" id="input-lang">
    <option value="en-GB">English</option>
    <option value="es-ES">Spanish</option>
    <option value="pt-PT">Portuguese</option>
</select>
<button onclick="changeLang">Change</button>


<div class="speech">
    <input type="text" name="q" id="transcript" placeholder="Speak" />
    <img onclick="startDictation()" witdh="150" height="150" src="https://assets.dryicons.com/uploads/icon/svg/6122/bef13daa-e9a2-4855-9552-5a274a59f119.svg"/>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=qNPkUHT3"></script>
<script>
    const $translate = document.getElementById('translate');
    $translate.addEventListener('click', () => { 
        //responsiveVoice.cancel();
        const text = document.getElementById('speech-text').value;
        responsiveVoice.speak(text); 
    });
</script>

<script>

    let lang = "en-GB";

    function changeLang() {
        const $lang = document.getElementById("lang")
        lang = $lang.value;
    }
          

    function startDictation() {

        if (window.hasOwnProperty('webkitSpeechRecognition')) {

        var recognition = new webkitSpeechRecognition();

        recognition.continuous = false;
        recognition.interimResults = false;
    
        recognition.lang = lang;
        recognition.start();

        recognition.onresult = function(e) {
            document.getElementById('transcript').value
                                    = e.results[0][0].transcript;
            
            const $speechT = document.getElementById("speech-text");
            $speechT.value = e.results[0][0].transcript;

            recognition.stop();
        };

        recognition.onerror = function(e) {
            recognition.stop();
        }

        }
    }


</script>


<script>
var access_key = '7e0116a361664126fdeba4deaae985a9';
var query = 'You need to include jquery library for that.Like this. You need to include this 1st, then write $.ajax to execute';

$.ajax({
    url: 'http://api.languagelayer.com/detect?access_key=' + access_key + '&query=' + encodeURIComponent(query),   
    dataType: 'jsonp',
    success: function(json) {

    console.log(json.results);
                
    }
});
</script>
