<h1>Page for translation</h1>

<h1>Texto to Speech</h1>
<form action="" method="POST">
    <textarea name="text"cols="30" rows="10"></textarea>
    <input type="submit" value="Convert to MP3"/>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=qNPkUHT3"></script>
<script>
    console.log(document.getElementsByTagName('textarea')[0]);
document.getElementsByTagName('textarea')[0].addEventListener('click', () => { 
  //responsiveVoice.cancel();
  responsiveVoice.speak("Hello, my name is Raquel, how are you feeling?"); 
});
</script>

<script>
// set endpoint and your access key
var access_key = '7e0116a361664126fdeba4deaae985a9';
var query = 'You need to include jquery library for that.Like this. You need to include this 1st, then write $.ajax to execute';

// AJAX call
$.ajax({
    url: 'http://api.languagelayer.com/detect?access_key=' + access_key + '&query=' + encodeURIComponent(query),   
    dataType: 'jsonp',
    success: function(json) {

    // Access and use your preferred validation result objects
    console.log(json.results);
                
    }
});
</script>
