<h1>Page after logging in</h1>
<form action="" method="GET">
    <input type="text" id="input-search" name="search" placeholder="Search for city or countrie"/>
    <input type="submit" value="Search">
</form>
{{#each posts}}
    <a href="/logged/post/{{ _id }}">{{ title }}</a>
    <img src={{ image }}>
{{/each}}