<form action="/authentication/sign-up" method="POST" enctype="multipart/form-data">
  <input type="email" id="input-email" name="email" placeholder="Your Email" />
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
  <label for="discription">Discription</label>
  <input type="text-area" name="discription" id="discription" placeholder="Say some thing about you.">
   <input type="file" name="photo">
  <input type="submit" value="sign-up" id="upload-button">
</form>
<a href="/authentication/sign-up">Sign Up with Friend's Trip</a>
