
<div class="container">
		<div class="col-md-5 mx-auto">
      <div id="second">
			  <div class="myform form ">
          <div class="logo mb-3">
            <div class="col-md-12 text-center">
              <h1>Signup</h1>
            </div>
          </div>
          <form action="/authentication/sign-up" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="input-username">Username</label>
              <input type="text"  name="username" class="form-control" id="input-username" aria-describedby="emailHelp" placeholder="Enter Username">
            </div>
            <div class="form-group">
              <label for="input-emai">Email address</label>
              <input type="email" name="email"  class="form-control" id="input-emai" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="input-password">Password</label>
              <input type="password" name="password" id="input-password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
            </div>
            <div class="form-group">
              <label for="Description">Description</label>
              <input type="text-area" name="description"  class="form-control" id="areaDescription" aria-describedby="emailHelp" placeholder="Say some thing about you.">
            </div>
            <div class="upload-btn-wrapper">
              <button class="btn btn-outline-secondary">Upload a file</button>
              <input type="file" name="photo" />
            </div>
            <div>
              <input class="btn btn-outline-secondary" type="submit" value="Upload" id="upload-button">
            </div>
            <div class="col-md-12 ">
              <div class="form-group">
                <p class="text-center"><a href="/authentication/sign-in" id="signin">Already have an account?</a></p>
              </div>
            </div>
          </form>
         </div>          
        </div>
      </div>
    </div>

      